/.WorkflowDescriptionLabelProvider.java._trace
/.WorkflowDescriptionLabelProvider.xtendbin
/.WorkflowLabelProvider.java._trace
/.WorkflowLabelProvider.xtendbin
/WorkflowDescriptionLabelProvider.java
/WorkflowLabelProvider.java
